/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: row;
}

#main-left {
  position: relative;
  background-color: aqua;
  width: 45vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1519759605127-1fc04211f956?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: right;
}

#main-right {
  background-color: blue;
  width: 55vw;
  height: 100vh;
}

#logo-background {
  position: absolute;
  top: 10%; /* Position the overlay 33% from the top */
  left: 0;
  right: 0;
  height: 100px; /* Set a specific height for the overlay */
  background-color: rgba(0, 0, 0, 0.5); /* Dark, semi-transparent background */
  background-image: url('https://www.skillfinder.com.au/media/wysiwyg/the-odin-project-logo-skill-finder-partners-page.png');
  background-size: contain; /* Ensure the logo fits within the div */
  background-repeat: no-repeat; /* Prevent the logo from repeating */
  background-position: center; /* Center the logo within the div */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-background img{
  max-width: 100%;
  height: auto;
  padding: 20px;
}